* {
  cursor: url(//b.thumbs.redditmedia.com/4ZxOF0Jq21KHWSQUDunb3iUrawRW8aALcFq-5bb9NkM.png);
  font-family: Helvetica;
}

@font-face {
  font-family: "Kelvetica";
  src: url("./fonts/Kelvetica.otf");
}

html {
  background: white;
}

body {
  background: #00BCD4;
  background: -webkit-linear-gradient(#00BCD4, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#00BCD4, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00BCD4, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#00BCD4, white); /* Standard syntax */
  border: 0;
  margin: 0;
  height: 95vh;
}

#root {
  height: auto;
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#main {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.title {
  color: white;
  font-family: Kelvetica;
  font-size: 45px;
  margin: 30 auto 30 auto;
  text-align: center;
  transition: all 150ms ease-in-out;
  width: 5em;
}

.title:active{
  transform: scale(1.2);
}

#searchField {
  text-align: center;
  margin: 30px auto;
  width: 70%;
}

#graphBox {
  margin: 0;
  border-radius: 30px;
  max-width: 100%;
}

.chart {
  height: 35vh;
  width: inherit;
}

/* ms grid layout for edge, because microsoft */
#main {
  display: -ms-grid;
  -ms-grid-columns: 1fr 50px 900px 50px 1fr;
  -ms-grid-rows: auto;
}

#graphBox {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  -ms-grid-row: 2;
}

#searchField {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
}
/* end ms grid layout */

@media all and (max-width : 767px) {
/* Phones */
  #main {
    /* Makes the paper component more symmetric/centered. */
    grid-template-columns: 2% 6% 84% 6% 2%;
  }
  
  .chart {
    height: 40vh;
    min-height: 300px;
  }
}

@media all and (min-width : 768px) and (max-width : 1023px) {
/* Tablet */
  #main {
    grid-template-columns: 2% 4% 88% 4% 2%;
  }
  
  .chart {
    height: 40vh;
    min-height: 400px;
  }
}

@media all and (min-width : 1024px) {
/* 1080p Desktops */
  #main {
    grid-template-columns: 1fr 50px 900px 50px 1fr;
  }
  
  .chart {
    min-height: 450px;
  }
  
  #graphBox {
    background: white;
    padding-top: 30px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}

#graphBox {
  grid-column: 2 / 5;
}

.appBar {
  grid-column: 2 / 5;
}

#searchField {
  grid-column: 3 / 4;
}

.emptyChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  color: rgba(0, 0, 0, .3);
}

.emptyGraphBox {
  opacity: 0;
  transition: opacity 600ms ease-in;
}

.graphFooter {
  color: rgba(0, 0, 0, .3);
  display: flex;
  font-size: 11px;
  justify-content: flex-end;
  padding: 2px;
  padding-top: 0;
}

.graphFooter > a:link, .graphFooter > a:active, .graphFooter > a:visited {
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
  margin: 0 2px;
}

.chipType {
  font-family: Kelvetica;
}

.noSelect {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#mainFooter {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-bottom: 30px;
}

#disclaimer {
  font-family: Helvetica;
  color: rgba(0, 0, 0, .6);
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  margin: auto;
  max-width: 500px;
}

.IV {
  max-height: 100%;
}