html {
  background: white;
  min-height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: #57B0E3;
  background: -webkit-linear-gradient(#57B0E3, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#57B0E3, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#57B0E3, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#57B0E3, white); /* Standard syntax */
  min-height: 100vh;
  max-height: 100vh;
  border: 0;
}

#mainPanel {
}

#title {
  text-align: center;
}

#searchField {
  margin: 10px;
}

#graphBox {
  background: white;
  border-radius: 30px;
  padding: 3vh 3vw;
}

.graph {
  border-radius: 40px;
  background: white;
  width: 100%;
  margin: 10px 0;
}

.plotControl {
  
}