* {
  cursor: url(//b.thumbs.redditmedia.com/4ZxOF0Jq21KHWSQUDunb3iUrawRW8aALcFq-5bb9NkM.png);
}

html {
  background: white;
}

body {
  background: #57B0E3;
  background: -webkit-linear-gradient(#57B0E3, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#57B0E3, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#57B0E3, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#57B0E3, white); /* Standard syntax */
  border: 0;
  margin: 0;
  height: 95vh;
}

#main {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.title {
  margin-top: 0;
  padding-top: 40px;
  text-align: center;
}

#searchField {
  text-align: center;
  margin: 20px auto;
  width: 70%;
}

#graphBox {
  margin: auto;
  border-radius: 30px;
  max-width: 100%;
}

.chart {
  height: 40vh;
  width: inherit;
}

@media all and (max-width : 767px) {
/* Phones */
  #main {
    /* Makes the paper component more symmetric/centered. */
    grid-template-columns: 2% 6% 84% 6% 2%;
  }
  
  .chart {
    min-height: 300px;
  }
}

@media all and (min-width : 768px) and (max-width : 1023px) {
/* Tablet */
  #main {
    grid-template-columns: 2% 4% 88% 4% 2%;
  }
  
  .chart {
    min-height: 400px;
  }
}

@media all and (min-width : 1024px) {
/* 1080p Desktops */
  #main {
    grid-template-columns: 1fr 50px 900px 50px 1fr;
  }
  
  .chart {
    height: 35vh;
    min-height: 450px;
  }
  
  #graphBox {
    background: white;
    padding-top: 30px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}

#graphBox {
  grid-column: 2 / 5;
}

.appBar {
  grid-column: 2 / 5;
}

#searchField {
  grid-column: 3 / 4;
}
